@import "../../../styles/color.module.scss";

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(-45deg, $blue1, $primarygreen);

  .unit_conv {
    margin-left: 20%;
  }
}

@media screen and (max-width: 800px) {
  .unit_conv {
    margin-right: 8%;
  }
}

@media screen and (max-width: 400px) {
  .unit_conv {
    margin-top: 9.5%;
    margin-right: 3%;
  }
}
