.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;

  .unit_conv {
    margin-left: 20%;
  }
}

@media screen and (max-width: 800px) {
  .unit_conv {
    margin-right: 8%;
  }
}

@media screen and (max-width: 400px) {
  .unit_conv {
    margin-top: 9.5%;
    margin-right: 5%;
  }
}
