@import "../../../styles/color.module.scss";
@import "../../../styles/common.module.scss";

.container {
  width: 100%;
  height: calc(100vh - 400px);
  position: absolute;
  top: 100px;
  @extend .flexCenter;
  overflow: scroll;
  user-select: none;
  background: transparent;

  .about {
    width: 60vw;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 0 20px 8px $textblack;
    padding: 0 1.3rem;
    font-size: 1.5rem;
    background: $blue2;
    color: $white;
    letter-spacing: 1px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .about {
      width: 80%;
    }
  }
}

@media screen and (max-height: 600px) and (max-width: 1024px) {
  .container {
    .about {
      width: 90%;
      height: 160px;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .about {
      width: 90%;
    }
  }
}

@media screen and (max-width: 570px) {
  .container {
    .about {
      height: 80%;
    }
  }
}
