@import "../../../styles/color.module.scss";
@import "../../../styles/common.module.scss";

.container {
  box-sizing: border-box;
  position: fixed;
  height: 100px;
  top: 0;
  width: 100vw;
  padding: 0 5rem;
  @extend .flexVerCenter;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(20px);
  user-select: none;

  .mainList {
    box-sizing: border-box;
    list-style: none;
    @extend .flexSpaceBtw;
    font-size: 1.3rem;

    li {
      box-sizing: border-box;
      @extend .flexVerCenter;
      gap: 10px;
      color: $textblack;
      padding: 1rem;
      border: 1px solid transparent;
      cursor: pointer;

      svg {
        transform: rotate(270deg);
        width: 40px;
      }
    }

    li:hover {
      color: $primaryblue;
      border-bottom: 1px solid $primaryblue;

      svg {
        fill: $primaryblue;
        transform: rotate(0deg);
      }
    }

    .common_conv,
    .engineer_conv {
      position: relative;
    }

    .drownDown {
      position: absolute;
      top: 100%;
      left: 0;
      background: $primarygreen;
      border-radius: 0 0 10px 10px;
      @extend .flexColCenter;
      text-align: center;
      width: 0;
      height: 0;
      padding: 0;
      opacity: 0;
      box-shadow: 0 0 20px 4px $boxshadow;
      transition: all 0.3s;

      li {
        color: $white;
      }

      li:hover {
        border: none;
        transform: scale(1.1);
        border-radius: 5px;
        background: $blue;
        color: $white;
      }
    }
  }
}

.exp_col_Btn {
  display: none;

  ul {
    display: none;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .mainList {
    padding: 0;
  }
}

@media screen and (max-width: 1015px) {
  .container {
    justify-content: center;
  }
  .logo {
    display: none;
  }
}

@media screen and (max-width: 668px) {
  .container {
    justify-content: space-evenly;

    .mainList {
      .common_conv,
      .engineer_conv {
        width: 0;
        height: 0;
        opacity: 0;
        z-index: -5;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    justify-content: flex-end;

    .mainList {
      width: 0;
      height: 0;
      z-index: -1000;
      opacity: 0;

      li {
        height: 0;
      }
    }
  }

  .exp_col_Btn {
    display: flex;
    position: relative;

    ul {
      list-style: none;
      position: absolute;
      top: 70%;
      right: -70%;
      background: $blue1;
      width: 100vw;
      border-radius: 10px;
      height: 150px;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      li {
        text-align: center;
        padding: 0.7rem 0;
        font-size: 1.3rem;
        color: $white;

        &:hover {
          font-size: 1.5rem;
        }
      }
    }
  }
}
