@import "../../../styles/color.module.scss";
@import "../../../styles/common.module.scss";

.container {
  box-sizing: border-box;
  position: fixed;
  height: 100px;
  top: 0;
  width: 100vw;
  padding: 0 5rem;
  @extend .flexVerCenter;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(20px);
  user-select: none;

  .mainList {
    box-sizing: border-box;
    list-style: none;
    @extend .flexSpaceBtw;
    font-size: 1.5rem;
    gap: 0 2rem;

    li {
      box-sizing: border-box;
      @extend .flexVerCenter;
      gap: 15px;
      color: $textblack;
      padding: 1rem;
      border: 1px solid transparent;
      cursor: pointer;

      svg {
        transform: rotate(270deg);
      }
    }

    li:hover {
      color: $primaryblue;
      border-bottom: 1px solid $primaryblue;

      svg {
        fill: $primaryblue;
        transform: rotate(0deg);
      }
    }

    .common_conv,
    .engineer_conv {
      position: relative;
    }

    .drownDown {
      position: absolute;
      top: 100%;
      left: 0;
      background: $primarygreen;
      border-radius: 0 0 10px 10px;
      @extend .flexColCenter;
      text-align: center;
      width: 0;
      height: 0;
      padding: 0;
      opacity: 0;
      box-shadow: 0 0 20px 4px $boxshadow;
      transition: all 0.3s;

      li {
        color: $white;
      }

      li:hover {
        border: none;
        transform: scale(1.1);
        border-radius: 5px;
        background: $blue;
        color: $white;
      }
    }
  }
}
