$primaryblue: #0c41ff;
$blue: #1e90ff;
$blue1: #106cf7aa;
$blue2: #0c85ff;
$primarygreen: #059862;
$white: #fff;
$offwhite: #f9f9f9;
$black: #000;
$black1: #2c3e50;
$black2: #4c4c4c;
$textblack: #333;
$boxshadow: #666;
$purple: rgba(171, 102, 255, 1);
$palepurple: #879deb;
$lightblue: rgba(116, 182, 247, 1);
$placeholder: #999;
