@import "../../../styles/color.module.scss";
@import "../../../styles/common.module.scss";

.test {
  ul {
    list-style: none;
    cursor: pointer;
  }
}

.container {
  box-sizing: border-box;
  height: max-content;
  background: linear-gradient(-45deg, $primaryblue, magenta);
  border-radius: 25px;
  width: 60%;
  padding: 1rem 2rem;
  @extend .flexCol;
  justify-content: space-evenly;
  box-shadow: 0 0 20px 8px $boxshadow;
  z-index: 1;

  h1 {
    color: $textblack;
    text-align: center;
  }

  .select {
    width: 100%;
    @extend .flexCenter;
  }

  .input_value,
  .output_value {
    position: relative;
    width: 45%;
    @extend .flexColCenter;
  }

  .dropDownBtn {
    all: unset;
    margin: 2rem 0;
    width: 90%;
    padding: 10px 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    text-align: center;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    cursor: pointer;

    &:hover {
      color: $blue;

      svg {
        fill: $blue;
      }
    }
  }

  .dataContain {
    display: flex;
    justify-content: space-between;
  }

  .dropDown_input,
  .dropDown_output {
    position: absolute;
    width: 100%;
    top: 11%;
    list-style: none;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 20px 8px $boxshadow;
    background: $white;
    display: none;
    z-index: 5;
    cursor: pointer;
    height: 250px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      font-size: 1.1rem;
      font-weight: bold;
      padding: 15px 0;
      color: $textblack;
      border-bottom: 1px solid $blue;
      width: 90%;
      text-align: center;
      display: flex;
      justify-content: space-between;

      span {
        font-weight: normal;
      }
    }

    li:hover {
      color: $primaryblue;
      border-bottom: 1px solid $primaryblue;
    }
  }

  input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    border-bottom: 2px solid $primaryblue;
    color: $textblack;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    &::placeholder {
      color: $textblack;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  input:focus {
    border-bottom-color: transparent;
    border-radius: 5px;
    background: $blue;
    color: $white;

    &::placeholder {
      color: $white;
    }
  }

  .output {
    width: 100%;
    height: 45px;
    padding: 8px 15px;
    background: $primarygreen;
    border-radius: 5px;
    @extend .flexCenter;
    color: $white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .Btn {
    @extend .flexCenter;
    margin: 3rem 0;

    .convBtn {
      all: unset;
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
      border-radius: 5px;
      color: $white;
      background: $primaryblue;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
        border-color: transparent;
        box-shadow: 0 0 10px 4px $primaryblue;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: max-content;
  }
}

@media screen and (max-width: 475px) {
  .container {
    width: 300px;
    margin: 0%;
    margin-right: 50vw;

    input {
      padding: 0;
    }
  }
}
